* {
  background-color: #efedf1;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  background-color: #eef0fe;
  color: #1b1b1f;
}
.header {
  text-align: center;
  font-weight: 400;
  font-size: 2.5em;
}
.colour-blue {
  color: #2e69cd;
}
.colour-green {
  color: #3d7d3e;
}
.colour-red {
  color: #b83d32;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf9fd;
  align-items: center;
  margin: 4em;
  padding: 20px;
  border-radius: 24px;
}
.textBox {
  align-content: center;
  background-color: #eef0fe;
  margin: 15px;
  padding: 24px;
  border-radius: 24px;
  text-align: center;
}
.imgBox {
  background-color: #faf9fd;
  border-radius: 100%;
  border-color: #7e7e7e;
  border-style: solid;
  border-width: 2px;
  margin: 20px;
  padding: 10px;
}
img {
  background-color: #faf9fd;
  display: block;
  height: 6em;
  width: 6em;
}
.btn {
  border: none;
  background-color: #d5e3fb;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 56px;
  font-weight: 600;
  cursor: pointer;
  color: #2a5eb8;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  margin: 1em;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 24px;
  background-color: #eef0fe;
}
.icon {
  font-size: 1.5em;
  padding: 10px;
  background-color: #d5e3fb;
  color: #2a5eb8;
}
.internal-ip {
  font-size: 18px;
  border-radius: 24px;
  margin: 15px;
  padding: 20px;
  font-weight: 400;
  color: #705814;
  background-color: #f8ecde;
}
.external-ip {
  font-size: 18px;
  border-radius: 24px;
  margin: 15px;
  padding: 20px;
  font-weight: 400;
  color: #188038;
  background-color: #e6f4ea;
}
